@import url(https://fonts.bunny.net/css?family=aclonica:400|roboto:100,300,400,500,700,900);

body {
    margin: 0rem;
    background-color: black;
    color: white;
    overflow: hidden;
}

.white-font {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    height: 90vh;
    margin: 2rem;
    border: 5px solid;
}

.bookshelf {
    grid-row: 1 / 3;
    background-color: azure;
}

.button-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

button {
    cursor: pointer;
    margin: 0.5rem;
    width: 10rem;
    height: 2rem;
    font: 500 1.2rem "Roboto";
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
}

button:hover {
    background-color: white;
    color: black
}
